<% title('Hogjaw', false) %>
<h1>Welcome to the new Hogjaw website</h1>

<% @hogjaw_news.each do |post| %>

  <div id="Home_left_column">
	<div> <%= post.date %> </div>
	<div> <%= post.title %> </div>
	<div> <%= post.content %> <div>
	
  </div>

<% end %>
