<% title('Come Experience Hogjaw', false) %>
<h1>Hogjaw's Tour Calendar</h1>

<% @tourdates.each do |tour| %>


	<div id="tour_description"> <%= tour.description %> </div>
	<div> <%= tour.show_date %> </div>
 	<div> <%= tour.location %> </div><br>

	

<% end %>
